body{
    background-image: url('../img/tic-tac-toe-19535_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
h1{
    color: azure;
    font-size: 50px;
    font-weight: bold;
}
#morpion{
    display: inline-block;
    background-color: black;
    margin: 0 auto;
    padding: 10px;
}
#morpion div{
    margin: 0 auto;
    overflow: hidden;
}
#morpion button{
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 60px;
    margin: 5px;
    float: left;
}
#resultat{
    color: white;
    background: green;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}